.main {
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.carButtons {
    display: flex;
    margin-bottom: 10px;
}

.carbutton, .tractorbutton, .motobutton {
    width: 30%;
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.active {
    background-color: #FD4100;
    border-radius: 5px;
}


.carbutton:hover, .tractorbutton:hover, .motobutton:hover {
    background-color: #ddd;
}

.selects {
    margin-bottom: 15px;
}

.selectname {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/*.fasi {*/
/*    margin-bottom: 15px;*/

/*}*/

/*.fasi p {*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*}*/

/*.fasi button {*/
/*    margin-right: 5px;*/
/*    padding: 6px 12px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    font-size: 14px;*/
/*    background-color: #f5f5f5;*/

/*}*/

/*.fasi button:hover {*/
/*    background-color: #ddd;*/
/*}*/

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.prices > span{
    padding-top: 6px;
}

input[type="text"] {
    width: 48%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.searchbutton {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.searchbutton:hover {
    background-color: #e64a19;
}



